<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jackbin.SimpleRecord.mapper.RecordDetailMapper">
    <select id="querySpendTotalByMonth" resultType="Double">
        select t3.amount spendTotal from
        (SELECT SUM(amount) amount
        FROM
            tb_record_detail t1
            LEFT JOIN tb_spend_category t2 on t1.spend_category_id = t2.id
        where t1.user_id = #{userId}
            and t2.record_type_id = (select id from tb_record_type where code = #{recordTypeCode})
            and date_format(t1.occur_time, '%Y-%m') = date_format(#{date}, '%Y-%m')
            and t1.delete_time is null
        ) t3
    </select>

    <select id="querySpendSpendCategoryTotalByMonth" resultType="cn.jackbin.SimpleRecord.dto.SpendCategoryTotalDTO">
        SELECT t1.spend_category_id spendCategoryId,t2.name spendCategoryName,SUM(amount) total
        FROM
            tb_record_detail t1
            LEFT JOIN tb_spend_category t2 on t1.spend_category_id = t2.id
        where t1.user_id = #{userId}
            and t2.record_type_id = (select id from tb_record_type where code = #{recordTypeCode})
            and date_format(t1.occur_time, '%Y-%m') = date_format(#{date}, '%Y-%m')
            and t1.delete_time is null
            group by t1.spend_category_id ORDER BY total desc
            LIMIT #{begin},#{end}
    </select>

    <select id="querySpendSpendCategoryTotalByYear" resultType="cn.jackbin.SimpleRecord.dto.SpendCategoryTotalDTO">
        SELECT t1.spend_category_id spendCategoryId,t2.name spendCategoryName,SUM(amount) total
        FROM
            tb_record_detail t1
            LEFT JOIN tb_spend_category t2 on t1.spend_category_id = t2.id
        where t1.user_id = #{userId}
            and t2.record_type_id = (select id from tb_record_type where code = #{recordTypeCode})
            and date_format(t1.occur_time, '%Y') = date_format(#{date}, '%Y')
            and t1.delete_time is null
            group by t1.spend_category_id ORDER BY total desc
    </select>

    <select id="queryByMonth" resultType="cn.jackbin.SimpleRecord.dto.RecordDetailDTO">
        select t1.*, t2.name recordAccountName, t3.name sourceAccountName, t4.name targetAccountName
        from
            tb_record_detail t1
            left join tb_record_account t2 on t1.record_account_id = t2.id
            left join tb_record_account t3 on t1.source_account_id = t3.id
            left join tb_record_account t4 on t1.target_account_id = t4.id
        where
            t1.user_id = #{userId}
            <choose>
                <when test="occurTime == null">
                    and date_format(t1.occur_time, '%Y-%m') = date_format(#{date}, '%Y-%m')
                </when>
                <otherwise>
                    and date_format(t1.occur_time, '%Y-%m-%d') = date_format(#{occurTime}, '%Y-%m-%d')
                </otherwise>
            </choose>
            <if test="keyWord != null and keyWord != ''">
                and (t1.record_category = #{keyWord} or t1.remark = #{keyWord})
            </if>
            and t1.delete_time is null
        ORDER BY t1.occur_time desc
    </select>

    <select id="queryByInterval" resultType="cn.jackbin.SimpleRecord.dto.RecordDetailDTO">
        select
            t1.amount amount, t1.occur_time occurTime,
            t2.name spendCategoryName, t2.code spendCagegoryCode
        from
            tb_record_detail t1
            LEFT JOIN tb_spend_category t2 on t2.id = t1.spend_category_id
        where
            t1.user_id = #{userId}
            and t2.record_type_id = (select id from tb_record_type where code = #{recordTypeCode})
            and date_format(#{endDate}, '%Y-%m') > date_format(t1.occur_time, '%Y-%m')
            and date_format(t1.occur_time, '%Y-%m') >= date_format(#{beginDate}, '%Y-%m')
            and t1.delete_time is null
        ORDER BY t1.occur_time asc

    </select>
</mapper>
