<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jackbin.SimpleRecord.mapper.RecordDetailMapper">
    <select id="queryTotalByMonth" resultType="Double">
        SELECT SUM(abs(amount)) total
        FROM
            tb_record_detail t1
        where t1.user_id = #{userId}
            and t1.record_type = #{recordType}
            and date_format(t1.occur_time, '%Y-%m') = date_format(#{date}, '%Y-%m')
            and t1.delete_time is null
    </select>

    <select id="querySpendSpendCategoryTotalByMonth" resultType="cn.jackbin.SimpleRecord.dto.SpendCategoryTotalDTO">
        SELECT t1.record_category spendCategoryName,SUM(abs(amount)) total
        FROM
            tb_record_detail t1
        where t1.user_id = #{userId}
            and t1.record_type = #{recordType}
            and date_format(t1.occur_time, '%Y-%m') = date_format(#{date}, '%Y-%m')
            and t1.delete_time is null
            group by t1.record_category ORDER BY total desc
            LIMIT #{begin},#{end}
    </select>

    <select id="querySpendSpendCategoryTotalByYear" resultType="cn.jackbin.SimpleRecord.dto.SpendCategoryTotalDTO">
        SELECT
            t1.record_category,
            SUM( abs( t1.amount ) ) total
        FROM
            tb_record_detail t1
        WHERE
            t1.user_id = #{userId}
            AND t1.record_type = #{recordType}
            AND date_format( t1.occur_time, '%Y' ) = date_format(#{date}, '%Y')
            AND t1.delete_time IS NULL
        GROUP BY
            t1.record_category
        ORDER BY
            total DESC
    </select>

    <select id="queryByMonthAndBook" resultType="cn.jackbin.SimpleRecord.dto.RecordDetailDTO">
        select t1.*, t2.name recordAccountName, t3.name sourceAccountName, t4.name targetAccountName
        from
            tb_record_detail t1
            left join tb_record_account t2 on t1.record_account_id = t2.id
            left join tb_record_account t3 on t1.source_account_id = t3.id
            left join tb_record_account t4 on t1.target_account_id = t4.id
        where
            t1.user_id = #{userId}
            <if test="recordBookId != null">
                and record_book_id = #{recordBookId}
            </if>
            <choose>
                <when test="occurTime == null">
                    and date_format(t1.occur_time, '%Y-%m') = date_format(#{date}, '%Y-%m')
                </when>
                <otherwise>
                    and date_format(t1.occur_time, '%Y-%m-%d') = date_format(#{occurTime}, '%Y-%m-%d')
                </otherwise>
            </choose>
            <if test="keyWord != null and keyWord != ''">
                and (t1.record_category like CONCAT(CONCAT('%', #{keyWord}), '%') or t1.remark like CONCAT(CONCAT('%', #{keyWord}), '%'))
            </if>
            and t1.delete_time is null
            and t1.target_account_id is null   -- 流出账户为空
        ORDER BY t1.occur_time desc
    </select>

    <select id="queryByMonthAndAccount" resultType="cn.jackbin.SimpleRecord.dto.RecordDetailDTO">
        select t1.*, t2.name recordAccountName, t3.name sourceAccountName, t4.name targetAccountName
        from
        tb_record_detail t1
        left join tb_record_account t2 on t1.record_account_id = t2.id
        left join tb_record_account t3 on t1.source_account_id = t3.id
        left join tb_record_account t4 on t1.target_account_id = t4.id
        where
        t1.user_id = #{userId}
        <if test="recordAccountId != null">
            and record_account_id = #{recordAccountId}
        </if>
        <choose>
            <when test="occurTime == null">
                and date_format(t1.occur_time, '%Y-%m') = date_format(#{date}, '%Y-%m')
            </when>
            <otherwise>
                and date_format(t1.occur_time, '%Y-%m-%d') = date_format(#{occurTime}, '%Y-%m-%d')
            </otherwise>
        </choose>
        <if test="keyWord != null and keyWord != ''">
            and (t1.record_category like CONCAT(CONCAT('%', #{keyWord}), '%') or t1.remark like CONCAT(CONCAT('%', #{keyWord}), '%'))
        </if>
        and t1.delete_time is null
        ORDER BY t1.occur_time desc
    </select>

    <select id="queryRecoverableList" resultType="cn.jackbin.SimpleRecord.dto.RecordDetailDTO">
        select t1.*, t2.name recordAccountName
        from
        tb_record_detail t1
        left join tb_record_account t2 on t1.record_account_id = t2.id
        where
        t1.user_id = #{userId}
        and t1.recoverable_status = #{recoverableStatus}
        and t1.delete_time is null
        ORDER BY t1.occur_time desc
    </select>

    <select id="queryByInterval" resultType="cn.jackbin.SimpleRecord.dto.MonthRecordAnalysisDTO">
        SELECT
            sum( amount ) total,
            date_format( t1.occur_time, '%Y-%m' ) occur_month
        FROM
            tb_record_detail t1
        WHERE
            t1.user_id = #{userId}
            AND t1.record_type = #{recordType}
            AND date_format(t1.occur_time, '%Y-%m') >= date_format(#{beginDate}, '%Y-%m')
            AND date_format(#{endDate}, '%Y-%m') > date_format(t1.occur_time, '%Y-%m')
            AND t1.delete_time IS NULL
        GROUP BY
            occur_month
        ORDER BY
            date_format( t1.occur_time, '%Y-%m' ) ASC

    </select>

    <select id="querySumByRecordBookIds" resultType="cn.jackbin.SimpleRecord.dto.RecordDetailBookSumDTO">
        SELECT
            record_book_id,
            SUM( amount ) AS amount_total
        FROM
            tb_record_detail
        WHERE
            delete_time IS NULL -- 排除账户间流转的类型
            AND record_type = #{recordTypeId}
            AND record_book_id IN
            <foreach item="item" collection="recordBookIds" separator="," open="(" close=")" index="">#{item, jdbcType=INTEGER}</foreach>
        GROUP BY
            record_book_id
    </select>
</mapper>
