<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jackbin.SimpleRecord.mapper.SpendCategoryMapper">
    <select id="queryAll" resultType="cn.jackbin.SimpleRecord.dto.SpendCategoryDTO">
        select a.*, b.code recordTypeCode, b.name recordTypeName
        from tb_spend_category a
        left join tb_record_type b on a.record_type_id = b.id
        where a.delete_time is null and b.delete_time is null
    </select>
</mapper>
